body {
  background-color: #bfbcbc; /* 全体の背景色指定 */
}

a {
  text-decoration: none; /* 下線消す */
}
/* headerここから */
.my-name {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.site-header {
  /* position: relative; */
  background-color: #333333;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  margin-left: 10%;
  margin-right: 10%;
}

/* .site-header__middle {
  margin-left: auto;
} */
.nav__wrapper {
  display: flex;
}

li.nav__item {
  list-style-type: none;
}
.nav__item a {
  display: block;
  padding: 1rem;
  color: white;
}
/* headerここまで */

/* main全体 */
.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}

/* section-titleここから */
.section-title {
  margin: 0; /* デフォルトCSS打ち消し */
  font-size: 24px; /* 文字サイズ指定 */
  border-bottom: solid 3px; /* 線指定 */
  padding: 5px; /* 余白指定 */
  margin-bottom: 15px; /* 周りの余白指定 */
  position: relative; /* 位置調整 */
  font-weight: bold; /* 文字の太さ調整 */
}
.section-title:before {
  content: ""; /* 空白の要素を作る */
  width: 50px; /* 幅指定 */
  height: 3px; /* 高さ指定 */
  background-color: #42a6ff; /* 背景色指定 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 位置調整 */
  left: 0; /* 位置調整 */
  bottom: -3px; /* 位置調整 */
}
/* section-titleここまで */

/* profileここから */
.prof-container {
  display: flex;
  justify-content: space-around;
  background-color: #d6d6d6;
  border-radius: 5%;
}
.prof-image {
  width: 30%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.prof-image img {
  width: 100%;
  padding: auto;
  border-radius: 30%;
  border: solid 3px #42a6ff;
}
.prof-text-container {
  display: flex;
  align-items: center;
}
.prof-text {
  line-height: 3;
  text-align: start;
}
.name {
  font-size: 18px;
  font-weight: bold;
}
/* profileここまで */

/* skillここから*/
.skills-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #d6d6d6;
  border-radius: 5%;
  padding: 5%;
}
.skill-tab {
  display: inline-block;
  height: 180px;
  padding: 3%;
  border-radius: 30%;
}
.button-lighting {
  background-color: white;
}

.skill-tab img {
  height: 100%;
}

#skill-detail {
  background-color: white;
  height: fit-content;
  border-radius: 5%;
  padding: 5%;
}
.hidden {
  display: none;
}

#skill-title {
  font-weight: bold;
  font-size: 1.5rem;
}
/* skillここまで */

/* productここから */
.prod-container {
  background-color: #d6d6d6;
  border-radius: 5%;
}
/* productここまで */

/* linkここから */
.links-container {
  display: flex;
  justify-content: start;
  background-color: #d6d6d6;
  padding: 5%;
  border-radius: 5%;
}
.link-tab {
  display: inline-block;
  height: 150px;
  margin-left: 40px;
}
.link-tab a img {
  height: 100%;
  border-radius: 40%;
  padding: 10px;
  border: solid 5px #42a6ff;
}
